<div class="grid-container">
  <div class="margineLeft"></div>
  <div class="margineRight"></div>
  <div class="pageTitle">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="postTable">
    <button (click)="studentsTable.getPosts()" class="myButton">
      Aktualizuj liste studentów
    </button>
    <app-students-table #studentsTable [url]="ROOT_URL"></app-students-table>
    <hr />
  </div>
  <div class="formsPost">
    <app-student-form [url]="ROOT_URL"></app-student-form>
  </div>
</div>