<table class="students">
  <thead style="display:table-header-group">
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Index</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts | async">
      <ng-container>
        <td>
          {{ post.name}}
        </td>
        <td>
          {{ post.surname}}
        </td>
        <td>
          {{ post.index}}
        </td>
        <td>
          {{ post.id}}
        </td>
        <td>
          <button> -> </button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>